{
  "ignore": ["./dist/**/*"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "./config/babel/istanbulHackPlugin"
      ]
    }
  },
  "presets": [
    ["@babel/preset-env", {
      "shippedProposals": true,
      "targets": {
        "node": "current"
      }
    }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "./config/babel/devExpressionPlugin",
    "@babel/plugin-syntax-dynamic-import",
    ["babel-plugin-react-rename", {
      "only": "./src/component/**/*.js",
      "rename": "./config/babel/getComponentName.babel.js"
    }],
    "@babel/plugin-transform-runtime",
    ["module-resolver", {"alias": {"": "./src"}}]
  ]
}
